@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --primary-color: #00b2df;
  --background-color: #003140;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.4;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 3.4em;
    line-height: 1.6;
  }

  h2 {
    font-size: 2.8em;
    line-height: 1.2;
  }

  h3 {
    font-size: 2.2em;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
